<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tenginekit.tenginedemo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tenginedemo">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".facedemo.FaceFrameActivity" />
        <activity android:name=".facedemo.FaceBitmapActivity" />
        <activity android:name=".segdemo.SegBitmapActivity" />
        <activity android:name=".facedemo.FaceEntryActivity" />
        <activity android:name=".segdemo.SegEntryActivity" />
        <activity android:name=".segdemo.SegCameraActivity" />
        <activity android:name=".bodydemo.BodyEntryActivity" />
        <activity android:name=".bodydemo.BodyBitmapActivity" />
        <activity android:name=".facedemo.BodyFrameActivity" />
    </application>

</manifest>
